<form action="/save_product">
  
  
  <p> Product Name : <input type="text" placeholder="Product Name" name="name"></p>
  <p> Product Brand : <input type="text" placeholder="Product Brand" name="brand"></p>
  <p> Category: <select name="category_id"></p>
    
    <% Category.all.each do |category| %>
    <option value="<%= category.id %>"> <%= category.name %> </option>
    <% end %>
      
    <br>
    <p> Quantity in Stock: <input type="number" placeholder="Quantity in Stock" name="quantity"></p>
     
    <p>Location: <select name="location_id"></p>
      <option></option>
      <% Location.all.each do |location| %>
      <option value="<%= location.id %>"> <%= location.name %> </option>
      <% end %>
    </select>
        
    
        
    <p> <input type="submit" value="add product"></p>
  </form>

    
