<center> <h1>Welcome to Fiber's Product Inventory System!</h1>
  <p>Please choose an action:</p> 
  <form method="get" action="/add_product">
    <button type="submit">Add a Product</button>
  </form>
  <form method="get" action="/edit_products">
    <button type="submit">Edit a Product</button>
  </form>
  <form method="get" action="/delete">
    <button type="submit">Delete a Product</button>
  </form>
  <form method="get" action="/see_products">
    <button type="submit">See all Products</button>
  </form>
  <form method="get" action="/products_category">
    <button type="submit">See all Products in a Category</button>
  </form>
  <form method="get" action="/products_location">
    <button type="submit">See all Products in a Location</button>
  </form>
  <form method="get" action="/store_list">
    <button type="submit">Edit a Store Location</button>
  </form>
</center>
<!-- (2) Edit a product
  (3) See all products
  (4) See all products in a category (5) See all products at store location
  (6) Edit store locations
  (0) Quit." -->