<h1>Success! <%= params["name"] %> Added!</h1>
    
<a href="/home">Return to main menu?</a>
   
<p>Here's all the products.</p>

<% Product.all.each do |product|  %>
<p> <%="Product ID : #{product.id} - Name : #{product.name} - Brand : #{product.brand} -Category: #{product.category_id} - Quantity : #{product.quantity} - Location : #{product.location_id}"%> </p>
<%end%>
   