this is where you show all categories. 
<ul>  
  <% Category.all.each do |category| %>
  <li><a href="/see_category/<%= category.id %>"><%= category.name %></a></li>
  <% end %>
</ul>
    
    
<a href="/home">Return to main menu?</a>