<h1> Delete Product </h1>
<form action="/delete_product">
  <p> Choose a product to delete : <select name="id"></p>
    <% Product.all.each do |product| %>
    <option value="<%= product.id %>"> <%= product.name %>  </option>
    <% end %>
  </select>
  
  <p> Are you sure you want to delete this product? :  
    <input type="radio"  name="decision" value="yes" > Yes
    <input type="radio"  name="decision" value="no" checked> No
      
    <p> <input type="submit" value="delete product"></p>
  </form>
    