<form action="/edit_save">
  <p> Choose a product to delete : <select name="id"></p>
    <% Product.all.each do |product| %>
    <option value="<%= product.id %>"> <%= product.name %>  </option>
    <% end %>
  </select>
  
  <p> Are you sure you want to delete this product? :  
    <input type="checkbox" name="decision" value="yes"> Yes
    <input type="checkbox" name="decision" value="no"> No
      
      <p> <input type="submit" value="delete product"></p>
    </form>
    